::-webkit-scrollbar {
  width: 7.5px;

  /* Track */
  &-track {
    background-color: black;
  }

  /* Handle */
  &-thumb {
    background-color: rgba(white, 0.25);
    transition: all 0.3s;
    border-radius: 50px;

    &:hover {
      background-color: rgba(white, 0.5);
    }
  }
}

.scrollbar-hide {
  ::-webkit-scrollbar {
    width: 0;
  }
}
